---
title: Oops, page not found.
---
<section id="content" class="container clearfix">

<header class="page-header">
<h1 class="page-title">Page Not Found</h1>
</header><!-- end .page-header -->

<%=image_tag '404.jpg', :id => 'not_found' %>

</section><!-- end #content -->
