---
title: Introduction of Wazo
---
<section id="content" class="container clearfix">

<header class="page-header">
<h1 class="page-title">About Us</h1>
</header><!-- end .page-header -->

<h3>
什么是Wazo？
</h3>
<p> Wazo是一个属于“年轻创作者（Initiator）”的社区，我们致力于集结并影响那些通过创造性的行动来实现改变的年轻人。无论来自哪里、以何谋生，在Wazo，我们作为创业者、公益人士、艺术家而存在，与其他创作者一起发现、玩乐并创造。在这里，我们自称为Dino（恐龙）。 </p>
<h3>
什么是Wazo Box？

</h3>
<p> Wazo Box是一个舞台，让Dino说出自己的故事与创想。在一整天的时间里，每一个Dino都会有十分钟的时间，来打动所有人。穿插期间的Crashshop，则是Dino与Wazo导师的碰撞时间。而一天的高潮，会出现在晚上的Award Night，Star Dino会得到一笔奖金，来实践他的创想。 </p>
<h3>
什么是Wazo Tribe？
</h3>
<p> Wazo Tribe是一系列精挑细选的活动，他们有些来自我们信任的组织与团队，有些来源于Dino本身！我们相信Dino们聚在一起，会有无限的可能与“化学反应”，而我们愿意把这股力量传播到更多的地方，一起来参与改变的实现。 </p>

</section><!-- end #content -->
