---
title: Wazo Box Shanghai
---
<section id="content" class="container clearfix">

<header class="page-header">
<h1 class="page-title">Wazo Box Alpha</h1>
</header><!-- end .page-header -->

<h3>什么是Wazo Box</h3>
Wazo Box是一个说出观点的舞台，让Dino说出自己的故事、创想和项目方案。在一整天时间里，每一个Dino都有10分钟的时间来打动所有人。穿插期间的Crashshop，则是Dino与Wazo Mentor的碰撞时间。而一天的高潮，会出现在Wazo Award颁布的那一刻，被票选获胜的Star Dino会得到一笔奖金，来实践他的创想。

<h3>为什么我们要举办Wazo Box？</h3>
Wazo深深明白，成功的事业需要一种情怀凝聚相同气质的人。Box是激发Dino的创造力的舞台，Box能够链接富有创想、不甘平庸的人，Box是将想法转化为行动的助推剂。每个Dino在Box的过程中探索、玩耍、创造，最终为社会带来新锐的改变。赶快来接受这次Box的挑战吧！

<h3>日程安排</h3>
<ul>
  <li> 时间：9:00 am, July 14 </li>
  <li> 地点：313 Daxue Rd. Gecko Restaurant (杨浦区大学路313号) </li>
  <li> 人数：25</li>
  <li> 参与费用: 50RMB / 人 (全数用于Star Dino Award) </li>
</ul>
<p>
  0900am~0915am Check-in <br/>
  0915am~0930am Welcome Session <br/>
  0930am~1230am Dino Time I <br/>
  1230am~1330pm Lunch and Mix <br/>
  1330am~1430pm Crash-shop <br/>
  1430pm~1630pm Dino Time II <br/>
  1630pm~1700pm Awarding Time 
</p>

<h3>Wazo Box 指南</h3>
<p> Wazo Box的活动中，你会与其它二十多为年轻人一起经历6小时的头脑马拉松，所有的观众也是所有的讲者，你是不可或缺的一部分。所以请做好如下准备： </p>
<ul>
  <li> 请这里<a href="http://wazopartners.com/apply.html">注册活动</a></li>
  <li> 准备一个10分钟的分享，可以是自己的故事、创想或项目方案，或者任何你觉得足够有趣，希望分享给Dino们的话题，说你想说的。我们的Wazo Guru非常愿意与你一起讨论、准备这个分享。 </li>
  <li> 带上你喜欢的工具：DV、照相机、录音笔、电脑、平板、智能手机、笔记本、速写本、笔，还有任何你觉得可以帮助记录和构建想法的工具，我们相信你会不虚此行 </li>
  <li> Wazo Award由所有Dino评选出。我们的目标只有一个，那就是由你评选出令你最印象深刻的分享。 </li>
  <li> 带上好心情来吧，坏心情也没关系，Wazo注定让你欢腾起来！ </li>
</ul>

</section><!-- end #content -->


