---
title: Wazo Box Candidates
---
<section id="content" class="container clearfix">

<header class="page-header">
<h1 class="page-title">Wazo Box Candidates</h1>
</header><!-- end .page-header -->

<% data.candidates.each_with_index do |candidate, index| %>

  <% if index % 3 == 2 %>
    <div class="team-member one-third last">
  <% else %>
    <div class="team-member one-third">
  <% end %>

      <div class="rank">
        <%= candidate['rank'] %>
      </div>
      <div class="content">
        
        <h4 class="name"><%= candidate['name'] %></h4>

        <p><%= candidate['topic'] %></p>

      </div><!-- end .content -->

    </div><!-- end .team-member.one-fourth -->
<% end %>

</section><!-- end #content -->


